@import "tailwindcss";

@theme {
  --color-brand-50: #eefaf5;
  --color-brand-100: #d6f3e6;
  --color-brand-200: #b0e6d1;
  --color-brand-300: #7cd2b6;
  --color-brand-400: #45b796;
  --color-brand-500: #229c7d;
  --color-brand-600: #157d65;
  --color-brand-700: #116453
  ;
  --color-brand-800: #105043;
  --color-brand-900: #0e4239;
  --color-brand-950: #072520;
}

body {
  @apply bg-slate-50 text-slate-900 antialiased;
}
