openapi: "3.0.3"

info:
  title: "Leopardo RH API"
  version: "4.1.81-2026-04-28"
  description: |
    OpenAPI alignee sur la surface API reellement exposee par origin/main.

    Cette specification documente uniquement les endpoints observes dans :
    - routes/api.php
    - routes/modules/rh.php
    - routes/modules/cameras.php

    Les modules de conception plus larges presents dans docs/dossierdeConception
    ne sont pas repris ici tant qu'ils ne sont pas effectivement exposes.

    Note:
    le workspace local peut contenir des routes supplementaires en cours de
    developpement non mergees. Cette spec vise la baseline origin/main analysee
    pour l'audit documentaire.

servers:
  - url: "https://api.leopardo-rh.com/api/v1"
    description: "Production"
  - url: "http://localhost:8000/api/v1"
    description: "Local Docker"

security:
  - BearerAuth: []

tags:
  - name: "Health"
  - name: "Auth"
  - name: "Payrolls"
  - name: "HR Referentials"
  - name: "Notifications"
  - name: "Readiness"
  - name: "Dashboard"
  - name: "Schedules"
  - name: "Projects"
  - name: "Tasks"
  - name: "Evaluations"
  - name: "Platform"
  - name: "Employees"
  - name: "Attendance"
  - name: "Estimations"
  - name: "Me"
  - name: "Invitations"
  - name: "Biometrics"
  - name: "Privacy"
  - name: "Kiosks"
  - name: "Cameras"
  - name: "Vehicle Tracking"
  - name: "Fleet Management"

paths:
  /health:
    get:
      tags: ["Health"]
      summary: "Healthcheck live + ready"
      security: []
      responses:
        "200":
          description: "API disponible"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
        "503":
          description: "Base de donnees indisponible"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"

  /auth/login:
    post:
      tags: ["Auth"]
      summary: "Connexion employee"
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        "200":
          description: "Connexion reussie"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoginResponse"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "422":
          $ref: "#/components/responses/Validation422"

  /auth/me:
    get:
      tags: ["Auth"]
      summary: "Profil authentifie"
      responses:
        "200":
          description: "Profil employee courant"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/CurrentEmployee"
        "401":
          $ref: "#/components/responses/Error401"

  /client-events:
    post:
      tags: ["Auth"]
      summary: "Persister un evenement UX client tenant-scope"
      description: "Endpoint authentifie pour les mesures produit non bloquantes du portail client. Les proprietes sont minimisee cote API."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ClientEventRequest"
      responses:
        "201":
          description: "Evenement stocke"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientEventResponse"
        "401":
          $ref: "#/components/responses/Error401"
        "422":
          $ref: "#/components/responses/Validation422"

  /launch-readiness:
    get:
      tags: ["Readiness"]
      summary: "Lire le score de readiness lancement du tenant"
      description: "Endpoint manager principal/RH pour verifier les pre-requis go-live avant campagne marketing ou onboarding client."
      responses:
        "200":
          description: "Readiness lancement"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LaunchReadinessResponse"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"

  /dashboard/manager-digest:
    get:
      tags: ["Dashboard"]
      summary: "Lire les signaux manager du jour"
      description: "Contrat mobile manager tenant-scope pour les presences, retards, sessions ouvertes et actions RH en attente."
      responses:
        "200":
          description: "Digest manager du jour"
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: object
                    required:
                      - date
                      - team_scope
                      - team_size
                      - present
                      - late
                      - open_sessions
                      - pending_actions
                    properties:
                      date:
                        type: string
                        format: date
                      team_scope:
                        type: string
                        enum: ["company", "managed_team"]
                      team_size:
                        type: integer
                        minimum: 0
                      present:
                        type: integer
                        minimum: 0
                      late:
                        type: integer
                        minimum: 0
                      open_sessions:
                        type: integer
                        minimum: 0
                      pending_actions:
                        type: integer
                        minimum: 0
                      pending_absences:
                        type: integer
                        minimum: 0
                      pending_salary_advances:
                        type: integer
                        minimum: 0
                      pending_corrections:
                        type: integer
                        minimum: 0
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            kind:
                              type: string
                            label:
                              type: string
                            count:
                              type: integer
                            severity:
                              type: string
                            route:
                              type: string
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"

  /schedules:
    get:
      tags: ["Schedules"]
      summary: "Lister les horaires de l'entreprise"
      responses:
        "200":
          description: "Horaires tenant-scope"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Schedule"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
    post:
      tags: ["Schedules"]
      summary: "Creer un horaire de travail"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ScheduleRequest"
      responses:
        "201":
          description: "Horaire cree"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Schedule"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "422":
          $ref: "#/components/responses/Validation422"

  /schedules/{schedule}:
    parameters:
      - name: schedule
        in: path
        required: true
        schema:
          type: integer
    put:
      tags: ["Schedules"]
      summary: "Modifier un horaire"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ScheduleRequest"
      responses:
        "200":
          description: "Horaire modifie"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Schedule"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "422":
          $ref: "#/components/responses/Validation422"
    delete:
      tags: ["Schedules"]
      summary: "Supprimer un horaire non defaut"
      responses:
        "200":
          description: "Horaire supprime"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "422":
          $ref: "#/components/responses/Validation422"

  /auth/profile:
    patch:
      tags: ["Auth"]
      summary: "Mettre a jour le profil courant"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateProfileRequest"
      responses:
        "200":
          description: "Profil mis a jour"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/CurrentEmployee"
        "401":
          $ref: "#/components/responses/Error401"
        "422":
          $ref: "#/components/responses/Validation422"

  /auth/change-password:
    post:
      tags: ["Auth"]
      summary: "Changer le mot de passe"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChangePasswordRequest"
      responses:
        "200":
          description: "Mot de passe change"
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "ok"
        "401":
          $ref: "#/components/responses/Error401"
        "422":
          description: "Mot de passe courant incorrect ou validation"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
                  - $ref: "#/components/schemas/ValidationErrorResponse"

  /auth/logout:
    post:
      tags: ["Auth"]
      summary: "Deconnexion employee"
      responses:
        "200":
          description: "Token courant supprime"
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "ok"

  /auth/biometric-enrollment:
    get:
      tags: ["Biometrics"]
      summary: "Derniere demande biometrie de l'utilisateur courant"
      responses:
        "200":
          description: "Derniere demande ou null"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/BiometricEnrollmentRequest"
    post:
      tags: ["Biometrics"]
      summary: "Soumettre une demande biometrie"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/BiometricEnrollmentSubmitRequest"
      responses:
        "201":
          description: "Demande enregistree"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/BiometricEnrollmentRequest"
        "422":
          $ref: "#/components/responses/Validation422"

  /me/career:
    get:
      tags: ["Me"]
      summary: "Lire le parcours professionnel durable de l'employe courant"
      description: "Retourne le rattachement courant et la timeline professionnelle visible par l'utilisateur mobile."
      responses:
        "200":
          description: "Parcours professionnel"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/EmployeeCareerResponse"
        "401":
          $ref: "#/components/responses/Error401"

  /privacy/export:
    get:
      tags: ["Privacy"]
      summary: "Exporter les donnees personnelles de l'employe authentifie"
      responses:
        "200":
          description: "Bundle personnel self-service"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivacyExportResponse"
        "401":
          $ref: "#/components/responses/Error401"

  /privacy/deletion-request:
    post:
      tags: ["Privacy"]
      summary: "Creer une demande de suppression non destructive"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  nullable: true
                  maxLength: 1000
      responses:
        "202":
          description: "Demande recue pour revue RH/juridique"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivacyRequestResponse"
        "401":
          $ref: "#/components/responses/Error401"
        "422":
          $ref: "#/components/responses/Validation422"

  /privacy/biometric-consent:
    patch:
      tags: ["Privacy"]
      summary: "Enregistrer ou retirer le consentement biometrique"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: ["consented"]
              properties:
                consented:
                  type: boolean
      responses:
        "200":
          description: "Etat biometrique courant"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BiometricConsentResponse"
        "401":
          $ref: "#/components/responses/Error401"
        "422":
          $ref: "#/components/responses/Validation422"

  /platform/auth/login:
    post:
      tags: ["Platform"]
      summary: "Connexion super-admin"
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlatformLoginRequest"
      responses:
        "200":
          description: "Connexion super-admin reussie"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformLoginResponse"
        "401":
          $ref: "#/components/responses/Error401"
        "422":
          $ref: "#/components/responses/Validation422"

  /platform/auth/me:
    get:
      tags: ["Platform"]
      summary: "Super-admin courant"
      security:
        - SuperAdminBearerAuth: []
      responses:
        "200":
          description: "Profil super-admin"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/SuperAdminUser"

  /platform/auth/logout:
    post:
      tags: ["Platform"]
      summary: "Deconnexion super-admin"
      security:
        - SuperAdminBearerAuth: []
      responses:
        "200":
          description: "Token supprime"
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "ok"

  /platform/companies:
    get:
      tags: ["Platform"]
      summary: "Lister les societes"
      security:
        - SuperAdminBearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: ["active", "trial", "suspended", "expired"]
        - name: search
          in: query
          schema:
            type: string
            maxLength: 100
        - name: per_page
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        "200":
          description: "Liste des societes"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/PlatformCompany"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"
    post:
      tags: ["Platform"]
      summary: "Creer une societe shared"
      security:
        - SuperAdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlatformCompanyCreateRequest"
      responses:
        "201":
          description: "Societe et manager crees"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformCompanyCreateResponse"
        "422":
          $ref: "#/components/responses/Validation422"

  /platform/plans:
    get:
      tags: ["Platform"]
      summary: "Lister le catalogue des plans SaaS"
      security:
        - SuperAdminBearerAuth: []
      responses:
        "200":
          description: "Catalogue des plans actifs et inactifs"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformPlansResponse"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"

  /platform/companies/health:
    get:
      tags: ["Platform"]
      summary: "Vue portefeuille health des societes"
      security:
        - SuperAdminBearerAuth: []
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
      responses:
        "200":
          description: "Resume compact adoption, risque et MRR par societe"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformCompanyHealthPortfolioResponse"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"

  /platform/companies/{company}/health:
    get:
      tags: ["Platform"]
      summary: "Health detaille d'une societe"
      security:
        - SuperAdminBearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CompanyUuid"
      responses:
        "200":
          description: "Adoption, abonnement, anomalies et prochaine action"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformCompanyHealthResponse"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"

  /platform/companies/{company}/subscription:
    get:
      tags: ["Platform"]
      summary: "Lire l'abonnement plateforme d'une societe"
      security:
        - SuperAdminBearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CompanyUuid"
      responses:
        "200":
          description: "Abonnement courant"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformCompanySubscriptionResponse"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
    patch:
      tags: ["Platform"]
      summary: "Mettre a jour l'abonnement plateforme d'une societe"
      security:
        - SuperAdminBearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CompanyUuid"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlatformCompanySubscriptionUpdateRequest"
      responses:
        "200":
          description: "Abonnement mis a jour"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformCompanySubscriptionResponse"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          $ref: "#/components/responses/Validation422"

  /platform/companies/{company}/features:
    get:
      tags: ["Platform"]
      summary: "Lire les feature flags d'une societe"
      security:
        - SuperAdminBearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CompanyUuid"
      responses:
        "200":
          description: "Feature flags actifs et modules connus"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformCompanyFeaturesResponse"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
    patch:
      tags: ["Platform"]
      summary: "Mettre a jour les feature flags d'une societe"
      security:
        - SuperAdminBearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CompanyUuid"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlatformCompanyFeaturesUpdateRequest"
      responses:
        "200":
          description: "Feature flags mis a jour"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformCompanyFeaturesResponse"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          $ref: "#/components/responses/Validation422"

  /platform/company-requests:
    get:
      tags: ["Platform"]
      summary: "Lister les demandes de creation de societe"
      security:
        - SuperAdminBearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: ["pending", "approved", "rejected"]
        - name: search
          in: query
          schema:
            type: string
            maxLength: 100
        - name: per_page
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        "200":
          description: "Demandes paginees"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformCompanyRequestsResponse"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"

  /platform/company-requests/{id}:
    get:
      tags: ["Platform"]
      summary: "Lire une demande de creation de societe"
      security:
        - SuperAdminBearerAuth: []
      parameters:
        - $ref: "#/components/parameters/NumericId"
      responses:
        "200":
          description: "Detail de la demande"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformCompanyRequestResponse"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
    patch:
      tags: ["Platform"]
      summary: "Approuver ou rejeter une demande de creation de societe"
      security:
        - SuperAdminBearerAuth: []
      parameters:
        - $ref: "#/components/parameters/NumericId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlatformCompanyRequestReviewRequest"
      responses:
        "200":
          description: "Decision enregistree"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformCompanyRequestReviewResponse"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          $ref: "#/components/responses/Validation422"

  /platform/metrics/overview:
    get:
      tags: ["Platform"]
      summary: "Agregats business du cockpit super-admin"
      description: "Retourne des metriques globales non nominatives pour piloter MRR, ARR, encaissements, impayes, companies, subscriptions, billing et systeme."
      security:
        - SuperAdminBearerAuth: []
      responses:
        "200":
          description: "Metriques plateforme agregees"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformMetricsOverviewResponse"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"

  /pay-slips:
    get:
      tags: ["Payrolls"]
      summary: "Lister les bulletins du tenant (manager)"
      description: |
        Liste paginee des bulletins sans lignes de detail (`pay_slip_lines`).
        Filtre `payroll_run_id` restreint au tenant courant (404 si le run n'appartient pas a l'entreprise).
      parameters:
        - name: payroll_run_id
          in: query
          required: false
          schema:
            type: integer
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum: [calculated, validated, sent]
        - $ref: "#/components/parameters/PerPage"
        - $ref: "#/components/parameters/Page"
      responses:
        "200":
          description: "Liste paginee"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                  meta:
                    type: object
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          $ref: "#/components/responses/Validation422"

  /employees:
    get:
      tags: ["Employees"]
      summary: "Lister les employes"
      parameters:
        - $ref: "#/components/parameters/PerPage"
        - $ref: "#/components/parameters/Page"
      responses:
        "200":
          description: "Liste paginee simple"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmployeeIndexResponse"
        "403":
          $ref: "#/components/responses/Error403"
    post:
      tags: ["Employees"]
      summary: "Creer un employe"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StoreEmployeeRequest"
      responses:
        "201":
          description: "Employe cree"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/EmployeeDetail"
        "403":
          $ref: "#/components/responses/Error403"
        "422":
          $ref: "#/components/responses/Validation422"

  /employees/{employee}:
    get:
      tags: ["Employees"]
      summary: "Voir un employe"
      parameters:
        - $ref: "#/components/parameters/EmployeeId"
      responses:
        "200":
          description: "Detail employe"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/EmployeeDetail"
        "404":
          $ref: "#/components/responses/Error404"
    put:
      tags: ["Employees"]
      summary: "Mettre a jour un employe"
      parameters:
        - $ref: "#/components/parameters/EmployeeId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateEmployeeRequestFull"
      responses:
        "200":
          description: "Employe mis a jour"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/EmployeeDetail"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          $ref: "#/components/responses/Validation422"
    patch:
      tags: ["Employees"]
      summary: "Patch employe"
      parameters:
        - $ref: "#/components/parameters/EmployeeId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateEmployeeRequestFull"
      responses:
        "200":
          description: "Employe mis a jour"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/EmployeeDetail"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          $ref: "#/components/responses/Validation422"

  /employees/{employee}/archive:
    post:
      tags: ["Employees"]
      summary: "Archiver un employe"
      parameters:
        - $ref: "#/components/parameters/EmployeeId"
      responses:
        "200":
          description: "Employe archive"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                      status:
                        type: string
                        example: "archived"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"

  /me/qr-profile:
    get:
      tags: ["Employees"]
      summary: "Generer le QR profil employe"
      responses:
        "200":
          description: "QR profil employe signe"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      token:
                        type: string
                      type:
                        type: string
                        example: "employee_profile"
                      expires_at:
                        type: string
                        format: date-time
        "401":
          $ref: "#/components/responses/Error401"

  /company/qr-onboarding:
    get:
      tags: ["Employees"]
      summary: "Generer le QR onboarding entreprise"
      responses:
        "200":
          description: "QR entreprise signe"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      token:
                        type: string
                      type:
                        type: string
                        example: "company_onboarding"
                      expires_at:
                        type: string
                        format: date-time
        "403":
          $ref: "#/components/responses/Error403"

  /company/qr-onboarding/scan-employee:
    post:
      tags: ["Employees"]
      summary: "Lire un QR employe pour pre-remplir l'ajout manager"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: ["qr_token"]
              properties:
                qr_token:
                  type: string
      responses:
        "200":
          description: "Profil pre-rempli"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      prefill:
                        type: object
        "403":
          $ref: "#/components/responses/Error403"
        "422":
          $ref: "#/components/responses/Validation422"

  /company/qr-onboarding/create-employee:
    post:
      tags: ["Employees"]
      summary: "Creer un employe depuis QR"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: ["qr_token", "email"]
              properties:
                qr_token:
                  type: string
                email:
                  type: string
                  format: email
                contract_start:
                  type: string
                  format: date
                schedule_id:
                  type: integer
                salary_type:
                  type: string
                  enum: ["fixed", "hourly", "daily"]
                salary_base:
                  type: number
                hourly_rate:
                  type: number
      responses:
        "201":
          description: "Employe cree depuis QR"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/EmployeeDetail"
        "403":
          $ref: "#/components/responses/Error403"
        "422":
          $ref: "#/components/responses/Validation422"

  /me/company-qr/scan:
    post:
      tags: ["Employees"]
      summary: "Soumettre une demande d'integration via QR entreprise"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: ["qr_token"]
              properties:
                qr_token:
                  type: string
                message:
                  type: string
                  maxLength: 500
      responses:
        "201":
          description: "Demande creee"
        "200":
          description: "Demande deja en attente"
        "422":
          $ref: "#/components/responses/Validation422"

  /employees/{employee}/daily-summary:
    get:
      tags: ["Estimations"]
      summary: "Resume journalier d'un employe"
      parameters:
        - $ref: "#/components/parameters/EmployeeId"
        - name: date
          in: query
          schema:
            type: string
            format: date
      responses:
        "200":
          description: "Resume journalier"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/DailySummary"

  /employees/{employee}/quick-estimate:
    get:
      tags: ["Estimations"]
      summary: "Estimation sur periode"
      parameters:
        - $ref: "#/components/parameters/EmployeeId"
        - name: from
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: to
          in: query
          required: true
          schema:
            type: string
            format: date
      responses:
        "200":
          description: "Estimation"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/QuickEstimate"
        "422":
          $ref: "#/components/responses/Validation422"

  /employees/{employee}/receipt:
    get:
      tags: ["Estimations"]
      summary: "Telecharger le PDF d'estimation"
      parameters:
        - $ref: "#/components/parameters/EmployeeId"
        - name: from
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: to
          in: query
          required: true
          schema:
            type: string
            format: date
      responses:
        "200":
          description: "PDF"
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        "422":
          $ref: "#/components/responses/Validation422"

  /me/daily-summary:
    get:
      tags: ["Me"]
      summary: "Resume journalier utilisateur courant"
      parameters:
        - name: date
          in: query
          schema:
            type: string
            format: date
      responses:
        "200":
          description: "Resume journalier"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/DailySummary"

  /me/quick-estimate:
    get:
      tags: ["Me"]
      summary: "Estimation utilisateur courant"
      parameters:
        - name: from
          in: query
          schema:
            type: string
            format: date
        - name: to
          in: query
          schema:
            type: string
            format: date
      responses:
        "200":
          description: "Estimation"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/QuickEstimate"

  /me/monthly-summary:
    get:
      tags: ["Me"]
      summary: "Resume mensuel utilisateur courant"
      parameters:
        - name: year
          in: query
          schema:
            type: integer
        - name: month
          in: query
          schema:
            type: integer
      responses:
        "200":
          description: "Resume mensuel"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    allOf:
                      - $ref: "#/components/schemas/QuickEstimate"
                      - type: object
                        properties:
                          year:
                            type: integer
                          month:
                            type: integer

  /attendance/check-in:
    post:
      tags: ["Attendance"]
      summary: "Check-in"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GpsPayload"
      responses:
        "201":
          description: "Pointage cree"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/AttendanceLog"
        "422":
          description: "Erreur metier ou validation"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
                  - $ref: "#/components/schemas/ValidationErrorResponse"

  /attendance/check-out:
    post:
      tags: ["Attendance"]
      summary: "Check-out"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GpsPayload"
      responses:
        "200":
          description: "Pointage mis a jour"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/AttendanceLog"
        "422":
          description: "Erreur metier ou validation"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
                  - $ref: "#/components/schemas/ValidationErrorResponse"

  /attendance/corrections:
    post:
      tags: ["Attendance"]
      summary: "Demander une correction de pointage"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AttendanceCorrectionRequestInput"
      responses:
        "201":
          description: "Demande de correction creee"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/AttendanceCorrectionRequest"
                  message:
                    type: string
        "422":
          $ref: "#/components/responses/Validation422"

  /attendance/today:
    get:
      tags: ["Attendance"]
      summary: "Etat du jour"
      parameters:
        - name: employee_id
          in: query
          schema:
            type: integer
        - $ref: "#/components/parameters/PerPage"
        - $ref: "#/components/parameters/Page"
      responses:
        "200":
          description: "Vue single ou collection"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttendanceTodayEnvelope"
        "422":
          $ref: "#/components/responses/Validation422"

  /attendance/{attendanceLog}:
    put:
      tags: ["Attendance"]
      summary: "Modifier directement un pointage"
      parameters:
        - name: attendanceLog
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                check_in:
                  type: string
                  format: date-time
                  nullable: true
                check_out:
                  type: string
                  format: date-time
                  nullable: true
                notes:
                  type: string
                  maxLength: 500
      responses:
        "200":
          description: "Pointage modifie"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/AttendanceLog"
        "403":
          $ref: "#/components/responses/Error403"
        "422":
          $ref: "#/components/responses/Validation422"

  /attendance:
    get:
      tags: ["Attendance"]
      summary: "Historique de pointage"
      parameters:
        - name: employee_id
          in: query
          schema:
            type: integer
        - name: date_from
          in: query
          schema:
            type: string
            format: date
        - name: date_to
          in: query
          schema:
            type: string
            format: date
        - $ref: "#/components/parameters/PerPage"
        - $ref: "#/components/parameters/Page"
      responses:
        "200":
          description: "Historique"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttendanceIndexResponse"
        "422":
          $ref: "#/components/responses/Validation422"

  /invitations:
    get:
      tags: ["Invitations"]
      summary: "Lister les invitations de l'entreprise"
      responses:
        "200":
          description: "Invitations"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Invitation"
        "403":
          $ref: "#/components/responses/Error403"

  /invitations/{invitation}/resend:
    post:
      tags: ["Invitations"]
      summary: "Renvoyer une invitation"
      parameters:
        - $ref: "#/components/parameters/InvitationId"
      responses:
        "200":
          description: "Invitation renvoyee"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      email:
                        type: string
                        format: email
                      resent_at:
                        type: string
                        format: date-time
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "410":
          description: "Invitation deja acceptee"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /biometric-enrollment-requests:
    get:
      tags: ["Biometrics"]
      summary: "Lister les demandes biometrie de la company"
      responses:
        "200":
          description: "Demandes"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/BiometricEnrollmentRequest"
        "403":
          $ref: "#/components/responses/Error403"

  /biometric-enrollment-requests/{id}/approve:
    post:
      tags: ["Biometrics"]
      summary: "Approuver une demande biometrie"
      parameters:
        - $ref: "#/components/parameters/GenericIntId"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BiometricDecisionRequest"
      responses:
        "200":
          description: "Demande approuvee"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/BiometricEnrollmentRequest"
        "403":
          $ref: "#/components/responses/Error403"

  /biometric-enrollment-requests/{id}/reject:
    post:
      tags: ["Biometrics"]
      summary: "Rejeter une demande biometrie"
      parameters:
        - $ref: "#/components/parameters/GenericIntId"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BiometricDecisionRequest"
      responses:
        "200":
          description: "Demande rejetee"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/BiometricEnrollmentRequest"
        "403":
          $ref: "#/components/responses/Error403"

  /kiosks:
    post:
      tags: ["Kiosks"]
      summary: "Enregistrer un kiosk"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/KioskRegisterRequest"
      responses:
        "201":
          description: "Kiosk cree"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Kiosk"
        "403":
          $ref: "#/components/responses/Error403"

  /kiosks/{deviceCode}/roster:
    get:
      tags: ["Kiosks"]
      summary: "Roster biometrie d'un kiosk"
      security: []
      parameters:
        - $ref: "#/components/parameters/DeviceCode"
        - $ref: "#/components/parameters/KioskTokenHeader"
      responses:
        "200":
          description: "Roster"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KioskRosterResponse"
        "401":
          $ref: "#/components/responses/Error401"

  /kiosks/{deviceCode}/punch:
    post:
      tags: ["Kiosks"]
      summary: "Pointage via kiosk"
      security: []
      parameters:
        - $ref: "#/components/parameters/DeviceCode"
        - $ref: "#/components/parameters/KioskTokenHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/KioskPunchRequest"
      responses:
        "200":
          description: "Check-out via kiosk"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KioskPunchResponse"
        "201":
          description: "Check-in via kiosk"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KioskPunchResponse"
        "401":
          $ref: "#/components/responses/Error401"
        "422":
          $ref: "#/components/responses/Validation422"

  /kiosks/{deviceCode}/sync:
    post:
      tags: ["Kiosks"]
      summary: "Synchroniser des evenements offline"
      security: []
      parameters:
        - $ref: "#/components/parameters/DeviceCode"
        - $ref: "#/components/parameters/KioskTokenHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/KioskSyncRequest"
      responses:
        "200":
          description: "Sync terminee"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KioskSyncResponse"
        "401":
          $ref: "#/components/responses/Error401"
        "422":
          $ref: "#/components/responses/Validation422"

  /cameras:
    get:
      tags: ["Cameras"]
      summary: "Lister les cameras"
      responses:
        "200":
          description: "Liste des cameras"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CameraIndexResponse"
        "403":
          $ref: "#/components/responses/Error403"
    post:
      tags: ["Cameras"]
      summary: "Creer une camera"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StoreCameraRequest"
      responses:
        "201":
          description: "Camera creee"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Camera"
        "403":
          description: "Module indisponible ou limite plan"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          $ref: "#/components/responses/Validation422"

  /cameras/test-rtsp:
    post:
      tags: ["Cameras"]
      summary: "Tester une URL RTSP"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TestRtspRequest"
      responses:
        "200":
          description: "Connexion valide ou test saute"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TestRtspSuccessResponse"
        "408":
          description: "Timeout RTSP"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: "Erreur de validation ou connexion"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
                  - $ref: "#/components/schemas/ValidationErrorResponse"
        "503":
          description: "Proxy video indisponible"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /cameras/{camera}:
    get:
      tags: ["Cameras"]
      summary: "Voir une camera"
      parameters:
        - $ref: "#/components/parameters/CameraId"
      responses:
        "200":
          description: "Camera"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Camera"
        "404":
          $ref: "#/components/responses/Error404"
    put:
      tags: ["Cameras"]
      summary: "Mettre a jour une camera"
      parameters:
        - $ref: "#/components/parameters/CameraId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateCameraRequest"
      responses:
        "200":
          description: "Camera mise a jour"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Camera"
        "422":
          $ref: "#/components/responses/Validation422"
    patch:
      tags: ["Cameras"]
      summary: "Patch camera"
      parameters:
        - $ref: "#/components/parameters/CameraId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateCameraRequest"
      responses:
        "200":
          description: "Camera mise a jour"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Camera"
        "422":
          $ref: "#/components/responses/Validation422"
    delete:
      tags: ["Cameras"]
      summary: "Desactiver une camera"
      parameters:
        - $ref: "#/components/parameters/CameraId"
      responses:
        "200":
          description: "Camera desactivee"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                      is_active:
                        type: boolean
                        example: false

  /cameras/{camera}/stream-token:
    get:
      tags: ["Cameras"]
      summary: "Regenerer un stream token client"
      parameters:
        - $ref: "#/components/parameters/CameraId"
      responses:
        "200":
          description: "Payload camera avec token"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Camera"

  /cameras/{camera}/access-tokens:
    get:
      tags: ["Cameras"]
      summary: "Lister les tokens de partage"
      parameters:
        - $ref: "#/components/parameters/CameraId"
      responses:
        "200":
          description: "Tokens"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/CameraAccessToken"
    post:
      tags: ["Cameras"]
      summary: "Creer un token de partage"
      parameters:
        - $ref: "#/components/parameters/CameraId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StoreCameraAccessTokenRequest"
      responses:
        "201":
          description: "Token cree"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/CameraAccessTokenWithSecret"
        "422":
          $ref: "#/components/responses/Validation422"

  /cameras/{camera}/access-tokens/{token}:
    delete:
      tags: ["Cameras"]
      summary: "Revoquer un token de partage"
      parameters:
        - $ref: "#/components/parameters/CameraId"
        - $ref: "#/components/parameters/TokenId"
      responses:
        "200":
          description: "Token revoque"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/CameraAccessToken"

  /cameras/{camera}/permissions:
    get:
      tags: ["Cameras"]
      summary: "Lister les permissions internes"
      parameters:
        - $ref: "#/components/parameters/CameraId"
      responses:
        "200":
          description: "Permissions"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/CameraPermission"
    post:
      tags: ["Cameras"]
      summary: "Creer ou remplacer une permission interne"
      parameters:
        - $ref: "#/components/parameters/CameraId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StoreCameraPermissionRequest"
      responses:
        "201":
          description: "Permission enregistree"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/CameraPermission"
        "422":
          $ref: "#/components/responses/Validation422"

  /cameras/{camera}/permissions/{permission}:
    delete:
      tags: ["Cameras"]
      summary: "Supprimer une permission interne"
      parameters:
        - $ref: "#/components/parameters/CameraId"
        - $ref: "#/components/parameters/PermissionId"
      responses:
        "200":
          description: "Permission supprimee"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                      deleted:
                        type: boolean
                        example: true

  /cameras/{camera}/access-logs:
    get:
      tags: ["Cameras"]
      summary: "Lister les logs d'acces camera"
      parameters:
        - $ref: "#/components/parameters/CameraId"
        - $ref: "#/components/parameters/PerPage"
      responses:
        "200":
          description: "Logs sur 30 jours glissants"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CameraAccessLogIndexResponse"

  /internal/camera-token/verify:
    get:
      tags: ["Cameras"]
      summary: "Verification interne MediaMTX"
      security: []
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
        - name: camera_id
          in: query
          required: true
          schema:
            type: integer
        - name: client_ip
          in: query
          schema:
            type: string
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
            example: "Bearer mediamtx-secret"
      responses:
        "200":
          description: "Decision de verification"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalCameraVerifyResponse"
        "401":
          description: "Appelant interne non autorise"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalCameraVerifyResponse"

  /view/cam:
    get:
      tags: ["Cameras"]
      summary: "Viewer public par token"
      security: []
      parameters:
        - name: t
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Payload public de lecture"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/PublicCameraView"
        "404":
          $ref: "#/components/responses/Error404"

  /projects:
    get:
      tags: ["Projects"]
      summary: "Lister les projets"
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: ["active", "completed", "archived"]
        - $ref: "#/components/parameters/PerPage"
      responses:
        "200":
          description: "Liste paginee des projets"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectIndexResponse"
        "401":
          $ref: "#/components/responses/Error401"
        "422":
          $ref: "#/components/responses/Validation422"
    post:
      tags: ["Projects"]
      summary: "Creer un projet"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StoreProjectRequest"
      responses:
        "201":
          description: "Projet cree"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Project"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "422":
          $ref: "#/components/responses/Validation422"

  /projects/{project}:
    get:
      tags: ["Projects"]
      summary: "Voir un projet"
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200":
          description: "Detail du projet"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Project"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
    put:
      tags: ["Projects"]
      summary: "Mettre a jour un projet"
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateProjectRequest"
      responses:
        "200":
          description: "Projet mis a jour"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Project"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          $ref: "#/components/responses/Validation422"
    patch:
      tags: ["Projects"]
      summary: "Mettre a jour partiellement un projet"
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateProjectRequest"
      responses:
        "200":
          description: "Projet mis a jour"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Project"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          $ref: "#/components/responses/Validation422"
    delete:
      tags: ["Projects"]
      summary: "Supprimer un projet"
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200":
          description: "Projet supprime"
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Project deleted successfully"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"

  /tasks:
    get:
      tags: ["Tasks"]
      summary: "Lister les taches"
      parameters:
        - name: project_id
          in: query
          schema:
            type: integer
            minimum: 1
        - name: status
          in: query
          schema:
            type: string
            enum: ["todo", "inprogress", "review", "done", "rejected", "cancelled"]
        - name: priority
          in: query
          schema:
            type: string
            enum: ["low", "normal", "high", "urgent"]
        - name: assigned_to
          in: query
          schema:
            type: integer
            minimum: 1
        - $ref: "#/components/parameters/PerPage"
      responses:
        "200":
          description: "Liste paginee des taches"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TaskIndexResponse"
        "401":
          $ref: "#/components/responses/Error401"
        "422":
          $ref: "#/components/responses/Validation422"
    post:
      tags: ["Tasks"]
      summary: "Creer une tache"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StoreTaskRequest"
      responses:
        "201":
          description: "Tache creee"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Task"
        "401":
          $ref: "#/components/responses/Error401"
        "422":
          $ref: "#/components/responses/Validation422"

  /tasks/today:
    get:
      tags: ["Tasks"]
      summary: "Lister les taches du jour"
      parameters:
        - name: assigned_to
          in: query
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: "Taches du jour"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Task"
        "401":
          $ref: "#/components/responses/Error401"
        "422":
          $ref: "#/components/responses/Validation422"

  /tasks/{task}:
    get:
      tags: ["Tasks"]
      summary: "Voir une tache"
      parameters:
        - $ref: "#/components/parameters/TaskId"
      responses:
        "200":
          description: "Detail de la tache"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Task"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
    put:
      tags: ["Tasks"]
      summary: "Mettre a jour une tache"
      parameters:
        - $ref: "#/components/parameters/TaskId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateTaskRequest"
      responses:
        "200":
          description: "Tache mise a jour"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Task"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          $ref: "#/components/responses/Validation422"
    patch:
      tags: ["Tasks"]
      summary: "Mettre a jour partiellement une tache"
      parameters:
        - $ref: "#/components/parameters/TaskId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateTaskRequest"
      responses:
        "200":
          description: "Tache mise a jour"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Task"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          $ref: "#/components/responses/Validation422"
    delete:
      tags: ["Tasks"]
      summary: "Supprimer une tache"
      parameters:
        - $ref: "#/components/parameters/TaskId"
      responses:
        "200":
          description: "Tache supprimee"
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Task deleted successfully"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"

  /tasks/{task}/comments:
    post:
      tags: ["Tasks"]
      summary: "Ajouter un commentaire sur une tache"
      parameters:
        - $ref: "#/components/parameters/TaskId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StoreTaskCommentRequest"
      responses:
        "201":
          description: "Commentaire cree"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/TaskComment"
        "401":
          $ref: "#/components/responses/Error401"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          $ref: "#/components/responses/Validation422"

  /evaluations:
    get:
      tags: ["Evaluations"]
      summary: "Lister les evaluations"
      parameters:
        - name: employee_id
          in: query
          schema:
            type: integer
            minimum: 1
        - name: evaluator_id
          in: query
          schema:
            type: integer
            minimum: 1
        - name: period
          in: query
          schema:
            type: string
            maxLength: 20
        - name: status
          in: query
          schema:
            type: string
            enum: ["draft", "submitted", "acknowledged"]
        - $ref: "#/components/parameters/PerPage"
      responses:
        "200":
          description: "Liste paginee des evaluations"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvaluationIndexResponse"
        "401":
          $ref: "#/components/responses/Error401"
        "422":
          $ref: "#/components/responses/Validation422"
    post:
      tags: ["Evaluations"]
      summary: "Creer une evaluation"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StoreEvaluationRequest"
      responses:
        "201":
          description: "Evaluation creee"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Evaluation"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "422":
          description: "Validation ou conflit metier"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
                  - $ref: "#/components/schemas/ValidationErrorResponse"

  /evaluations/{evaluation}:
    get:
      tags: ["Evaluations"]
      summary: "Voir une evaluation"
      parameters:
        - $ref: "#/components/parameters/EvaluationId"
      responses:
        "200":
          description: "Detail de l'evaluation"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Evaluation"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
    put:
      tags: ["Evaluations"]
      summary: "Mettre a jour une evaluation"
      parameters:
        - $ref: "#/components/parameters/EvaluationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateEvaluationRequest"
      responses:
        "200":
          description: "Evaluation mise a jour"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Evaluation"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          description: "Validation ou regle metier"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
                  - $ref: "#/components/schemas/ValidationErrorResponse"
    patch:
      tags: ["Evaluations"]
      summary: "Mettre a jour partiellement une evaluation"
      parameters:
        - $ref: "#/components/parameters/EvaluationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateEvaluationRequest"
      responses:
        "200":
          description: "Evaluation mise a jour"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Evaluation"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          description: "Validation ou regle metier"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
                  - $ref: "#/components/schemas/ValidationErrorResponse"
    delete:
      tags: ["Evaluations"]
      summary: "Supprimer une evaluation"
      parameters:
        - $ref: "#/components/parameters/EvaluationId"
      responses:
        "200":
          description: "Evaluation supprimee"
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Evaluation deleted successfully"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          description: "Seule une evaluation draft est supprimable"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /evaluations/{evaluation}/submit:
    put:
      tags: ["Evaluations"]
      summary: "Soumettre une evaluation"
      parameters:
        - $ref: "#/components/parameters/EvaluationId"
      responses:
        "200":
          description: "Evaluation soumise"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Evaluation"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          description: "Seule une evaluation draft peut etre soumise"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /evaluations/{evaluation}/acknowledge:
    put:
      tags: ["Evaluations"]
      summary: "Accuser reception d'une evaluation"
      parameters:
        - $ref: "#/components/parameters/EvaluationId"
      responses:
        "200":
          description: "Evaluation accusee de reception"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Evaluation"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          description: "Seule une evaluation submitted peut etre accusee de reception"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /notifications:
    get:
      tags: ["Notifications"]
      summary: "Lister les notifications de l'utilisateur courant"
      parameters:
        - name: unread
          in: query
          schema:
            type: boolean
        - name: type
          in: query
          schema:
            type: string
        - name: sort_dir
          in: query
          schema:
            type: string
            enum: [asc, desc]
        - $ref: "#/components/parameters/PerPage"
      responses:
        "200":
          description: "Liste paginee des notifications"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotificationIndexResponse"
        "401":
          $ref: "#/components/responses/Error401"
        "422":
          $ref: "#/components/responses/Validation422"

  /notification-preferences:
    get:
      tags: ["Notifications"]
      summary: "Lire les preferences de notification de l'utilisateur courant"
      responses:
        "200":
          description: "Preferences de notification"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/NotificationPreference"
        "401":
          $ref: "#/components/responses/Error401"
    patch:
      tags: ["Notifications"]
      summary: "Mettre a jour les preferences de notification de l'utilisateur courant"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NotificationPreferenceUpdateRequest"
      responses:
        "200":
          description: "Preferences de notification mises a jour"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/NotificationPreference"
        "401":
          $ref: "#/components/responses/Error401"
        "422":
          $ref: "#/components/responses/Validation422"

  /communication/analytics:
    get:
      tags: ["Notifications"]
      summary: "Analytics communication tenant"
      description: "Reserve aux managers principal/RH. Retourne volumes, echecs, canaux et templates sur la periode demandee."
      parameters:
        - name: days
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 90
            default: 30
      responses:
        "200":
          description: "Synthese communication"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommunicationAnalyticsResponse"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "422":
          $ref: "#/components/responses/Validation422"

  /notifications/read-all:
    put:
      tags: ["Notifications"]
      summary: "Marquer toutes les notifications comme lues"
      responses:
        "200":
          description: "Notifications marquees comme lues"
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "All notifications marked as read"
        "401":
          $ref: "#/components/responses/Error401"

  /notifications/{notification}/read:
    put:
      tags: ["Notifications"]
      summary: "Marquer une notification comme lue"
      parameters:
        - $ref: "#/components/parameters/NotificationId"
      responses:
        "200":
          description: "Notification mise a jour"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Notification"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"

  /notifications/{notification}:
    delete:
      tags: ["Notifications"]
      summary: "Supprimer une notification"
      parameters:
        - $ref: "#/components/parameters/NotificationId"
      responses:
        "200":
          description: "Notification supprimee"
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Notification deleted successfully"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"

  # ─── Vehicle Tracking ───────────────────────────────────────────────

  /vehicles:
    get:
      tags: ["Vehicle Tracking"]
      summary: "Liste des vehicules de l'entreprise"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: "Liste paginee des vehicules"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Vehicle"
        "401":
          $ref: "#/components/responses/Error401"
    post:
      tags: ["Vehicle Tracking"]
      summary: "Creer un vehicule"
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [plate_number]
              properties:
                plate_number:
                  type: string
                brand:
                  type: string
                  nullable: true
                model:
                  type: string
                  nullable: true
                year:
                  type: integer
                  nullable: true
                type:
                  type: string
                  enum: [car, van, truck, motorcycle, bus]
                  nullable: true
                fuel_type:
                  type: string
                  enum: [diesel, gasoline, electric, hybrid, lpg]
                  nullable: true
      responses:
        "201":
          description: "Vehicule cree"
        "422":
          $ref: "#/components/responses/Error422"

  /vehicles/{id}:
    get:
      tags: ["Vehicle Tracking"]
      summary: "Detail d'un vehicule"
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: "Detail vehicule"
        "404":
          $ref: "#/components/responses/Error404"
    put:
      tags: ["Vehicle Tracking"]
      summary: "Modifier un vehicule"
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                plate_number:
                  type: string
                brand:
                  type: string
                  nullable: true
                model:
                  type: string
                  nullable: true
                status:
                  type: string
                  enum: [active, maintenance, decommissioned]
      responses:
        "200":
          description: "Vehicule mis a jour"
    delete:
      tags: ["Vehicle Tracking"]
      summary: "Supprimer un vehicule"
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: "Vehicule supprime"

  /vehicles/{id}/position:
    get:
      tags: ["Vehicle Tracking"]
      summary: "Position actuelle du vehicule (via Traccar)"
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: "Position GPS actuelle"
          content:
            application/json:
              schema:
                type: object
                properties:
                  latitude:
                    type: number
                    format: double
                  longitude:
                    type: number
                    format: double
                  speed:
                    type: number
                  updated_at:
                    type: string
                    format: date-time

  /vehicles/{id}/trips:
    get:
      tags: ["Vehicle Tracking"]
      summary: "Trajets d'un vehicule"
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: "Liste des trajets"

  /vehicles/{id}/alerts:
    get:
      tags: ["Vehicle Tracking"]
      summary: "Alertes d'un vehicule"
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: "Liste des alertes"

  /vehicles/{id}/maintenance:
    get:
      tags: ["Vehicle Tracking"]
      summary: "Historique maintenance d'un vehicule"
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: "Liste des maintenances"

  /vehicles/{id}/assign:
    post:
      tags: ["Vehicle Tracking"]
      summary: "Assigner un vehicule a un employe"
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [employee_id]
              properties:
                employee_id:
                  type: integer
      responses:
        "200":
          description: "Vehicule assigne"

  /vehicles/{id}/unassign:
    post:
      tags: ["Vehicle Tracking"]
      summary: "Desassigner un vehicule"
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: "Vehicule desassigne"

  /vehicles/{id}/assignments:
    get:
      tags: ["Vehicle Tracking"]
      summary: "Historique des affectations conducteur"
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: "Affectations du vehicule"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
        "401":
          $ref: "#/components/responses/Error401"
        "404":
          $ref: "#/components/responses/Error404"

  /vehicle-trips:
    get:
      tags: ["Vehicle Tracking"]
      summary: "Liste de tous les trajets"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: "Liste paginee des trajets"

  /vehicle-trips/{id}:
    get:
      tags: ["Vehicle Tracking"]
      summary: "Detail d'un trajet"
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: "Detail trajet"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
        "401":
          $ref: "#/components/responses/Error401"
        "404":
          $ref: "#/components/responses/Error404"

  /vehicle-alerts:
    get:
      tags: ["Vehicle Tracking"]
      summary: "Liste de toutes les alertes vehicules"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: "Liste paginee des alertes"

  /vehicle-alerts/{id}/acknowledge:
    post:
      tags: ["Vehicle Tracking"]
      summary: "Acquitter une alerte vehicule"
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: "Alerte acquittee"

  /vehicle-maintenance:
    get:
      tags: ["Vehicle Tracking"]
      summary: "Liste des maintenances vehicules"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: "Liste paginee"
    post:
      tags: ["Vehicle Tracking"]
      summary: "Planifier une maintenance"
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [vehicle_id, type, service_date]
              properties:
                vehicle_id:
                  type: integer
                type:
                  type: string
                  enum: [oil_change, tire, brake, battery, inspection, repair, other]
                description:
                  type: string
                  nullable: true
                service_date:
                  type: string
                  format: date
                next_service_date:
                  type: string
                  format: date
                  nullable: true
                cost:
                  type: number
                  nullable: true
                currency:
                  type: string
                  nullable: true
      responses:
        "201":
          description: "Maintenance planifiee"

  /vehicle-maintenance/{id}:
    put:
      tags: ["Vehicle Tracking"]
      summary: "Modifier une maintenance"
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  enum: [oil_change, tire, brake, battery, inspection, repair, other]
                description:
                  type: string
                  nullable: true
                cost:
                  type: number
                  nullable: true
                currency:
                  type: string
                  nullable: true
                mileage_at_service:
                  type: integer
                  nullable: true
                service_date:
                  type: string
                  format: date
                next_service_date:
                  type: string
                  format: date
                  nullable: true
                next_service_mileage:
                  type: integer
                  nullable: true
                provider:
                  type: string
                  nullable: true
      responses:
        "200":
          description: "Maintenance mise a jour"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
        "401":
          $ref: "#/components/responses/Error401"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          $ref: "#/components/responses/Error422"
    delete:
      tags: ["Vehicle Tracking"]
      summary: "Supprimer une maintenance"
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: "Maintenance supprimee"
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        "401":
          $ref: "#/components/responses/Error401"
        "404":
          $ref: "#/components/responses/Error404"

  /tracking/sync-devices:
    post:
      tags: ["Vehicle Tracking"]
      summary: "Synchroniser les devices Traccar"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: "Devices synchronises"

  /tracking/sync-positions:
    post:
      tags: ["Vehicle Tracking"]
      summary: "Synchroniser les positions Traccar"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: "Positions synchronisees"

  /tracking/sync-trips:
    post:
      tags: ["Vehicle Tracking"]
      summary: "Synchroniser les trajets Traccar"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: "Trajets synchronises"

  /fleet/overview:
    get:
      tags: ["Fleet Management"]
      summary: "Vue d'ensemble de la flotte"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: "Statistiques flotte"

  /fleet/live-map:
    get:
      tags: ["Fleet Management"]
      summary: "Carte temps reel des vehicules"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: "Positions live de tous les vehicules"

  /fleet/reports/fuel:
    get:
      tags: ["Fleet Management"]
      summary: "Rapport consommation carburant"
      security:
[...]
