openapi: "3.0.3"

info:
  title: "Leopardo RH API"
  version: "4.1.81-2026-05-22"
  description: |
    OpenAPI alignee sur la surface API reellement exposee par origin/main.

    Cette specification documente uniquement les endpoints observes dans :
    - routes/api.php
    - routes/modules/rh.php
    - routes/modules/cameras.php

    Les modules de conception plus larges presents dans docs/dossierdeConception
    ne sont pas repris ici tant qu'ils ne sont pas effectivement exposes.

    Note:
    le workspace local peut contenir des routes supplementaires en cours de
    developpement non mergees. Cette spec vise la baseline origin/main analysee
    pour l'audit documentaire.

servers:
  - url: "https://api.leopardo-rh.com/api/v1"
    description: "Production"
  - url: "http://localhost:8000/api/v1"
    description: "Local Docker"

security:
  - BearerAuth: []

tags:
  - name: "Health"
  - name: "Auth"
  - name: "Payrolls"
  - name: "HR Referentials"
  - name: "Notifications"
  - name: "Projects"
  - name: "Tasks"
  - name: "Evaluations"
  - name: "Platform"
  - name: "Employees"
  - name: "Attendance"
  - name: "Estimations"
  - name: "Me"
  - name: "Invitations"
  - name: "Biometrics"
  - name: "Kiosks"
  - name: "Cameras"

paths:
  /health:
    get:
      tags: ["Health"]
      summary: "Healthcheck live + ready"
      security: []
      responses:
        "200":
          description: "API disponible"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
        "503":
          description: "Base de donnees indisponible"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"

  /auth/login:
    post:
      tags: ["Auth"]
      summary: "Connexion employee"
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        "200":
          description: "Connexion reussie"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoginResponse"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "422":
          $ref: "#/components/responses/Validation422"

  /auth/me:
    get:
      tags: ["Auth"]
      summary: "Profil authentifie"
      responses:
        "200":
          description: "Profil employee courant"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/CurrentEmployee"
        "401":
          $ref: "#/components/responses/Error401"

  /auth/profile:
    patch:
      tags: ["Auth"]
      summary: "Mettre a jour le profil courant"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateProfileRequest"
      responses:
        "200":
          description: "Profil mis a jour"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/CurrentEmployee"
        "401":
          $ref: "#/components/responses/Error401"
        "422":
          $ref: "#/components/responses/Validation422"

  /auth/change-password:
    post:
      tags: ["Auth"]
      summary: "Changer le mot de passe"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChangePasswordRequest"
      responses:
        "200":
          description: "Mot de passe change"
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "ok"
        "401":
          $ref: "#/components/responses/Error401"
        "422":
          description: "Mot de passe courant incorrect ou validation"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
                  - $ref: "#/components/schemas/ValidationErrorResponse"

  /auth/logout:
    post:
      tags: ["Auth"]
      summary: "Deconnexion employee"
      responses:
        "200":
          description: "Token courant supprime"
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "ok"

  /auth/biometric-enrollment:
    get:
      tags: ["Biometrics"]
      summary: "Derniere demande biometrie de l'utilisateur courant"
      responses:
        "200":
          description: "Derniere demande ou null"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/BiometricEnrollmentRequest"
    post:
      tags: ["Biometrics"]
      summary: "Soumettre une demande biometrie"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/BiometricEnrollmentSubmitRequest"
      responses:
        "201":
          description: "Demande enregistree"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/BiometricEnrollmentRequest"
        "422":
          $ref: "#/components/responses/Validation422"

  /platform/auth/login:
    post:
      tags: ["Platform"]
      summary: "Connexion super-admin"
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlatformLoginRequest"
      responses:
        "200":
          description: "Connexion super-admin reussie"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformLoginResponse"
        "401":
          $ref: "#/components/responses/Error401"
        "422":
          $ref: "#/components/responses/Validation422"

  /platform/auth/me:
    get:
      tags: ["Platform"]
      summary: "Super-admin courant"
      security:
        - SuperAdminBearerAuth: []
      responses:
        "200":
          description: "Profil super-admin"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/SuperAdminUser"

  /platform/auth/logout:
    post:
      tags: ["Platform"]
      summary: "Deconnexion super-admin"
      security:
        - SuperAdminBearerAuth: []
      responses:
        "200":
          description: "Token supprime"
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "ok"

  /platform/companies:
    get:
      tags: ["Platform"]
      summary: "Lister les societes"
      security:
        - SuperAdminBearerAuth: []
      responses:
        "200":
          description: "Liste des societes"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/PlatformCompany"
    post:
      tags: ["Platform"]
      summary: "Creer une societe shared"
      security:
        - SuperAdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlatformCompanyCreateRequest"
      responses:
        "201":
          description: "Societe et manager crees"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformCompanyCreateResponse"
        "422":
          $ref: "#/components/responses/Validation422"

  /employees:
    get:
      tags: ["Employees"]
      summary: "Lister les employes"
      parameters:
        - $ref: "#/components/parameters/PerPage"
        - $ref: "#/components/parameters/Page"
      responses:
        "200":
          description: "Liste paginee simple"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmployeeIndexResponse"
        "403":
          $ref: "#/components/responses/Error403"
    post:
      tags: ["Employees"]
      summary: "Creer un employe"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StoreEmployeeRequest"
      responses:
        "201":
          description: "Employe cree"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/EmployeeDetail"
        "403":
          $ref: "#/components/responses/Error403"
        "422":
          $ref: "#/components/responses/Validation422"

  /employees/{employee}:
    get:
      tags: ["Employees"]
      summary: "Voir un employe"
      parameters:
        - $ref: "#/components/parameters/EmployeeId"
      responses:
        "200":
          description: "Detail employe"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/EmployeeDetail"
        "404":
          $ref: "#/components/responses/Error404"
    put:
      tags: ["Employees"]
      summary: "Mettre a jour un employe"
      parameters:
        - $ref: "#/components/parameters/EmployeeId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateEmployeeRequestFull"
      responses:
        "200":
          description: "Employe mis a jour"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/EmployeeDetail"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          $ref: "#/components/responses/Validation422"
    patch:
      tags: ["Employees"]
      summary: "Patch employe"
      parameters:
        - $ref: "#/components/parameters/EmployeeId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateEmployeeRequestFull"
      responses:
        "200":
          description: "Employe mis a jour"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/EmployeeDetail"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          $ref: "#/components/responses/Validation422"

  /employees/{employee}/archive:
    post:
      tags: ["Employees"]
      summary: "Archiver un employe"
      parameters:
        - $ref: "#/components/parameters/EmployeeId"
      responses:
        "200":
          description: "Employe archive"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                      status:
                        type: string
                        example: "archived"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"

  /employees/{employee}/daily-summary:
    get:
      tags: ["Estimations"]
      summary: "Resume journalier d'un employe"
      parameters:
        - $ref: "#/components/parameters/EmployeeId"
        - name: date
          in: query
          schema:
            type: string
            format: date
      responses:
        "200":
          description: "Resume journalier"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/DailySummary"

  /employees/{employee}/quick-estimate:
    get:
      tags: ["Estimations"]
      summary: "Estimation sur periode"
      parameters:
        - $ref: "#/components/parameters/EmployeeId"
        - name: from
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: to
          in: query
          required: true
          schema:
            type: string
            format: date
      responses:
        "200":
          description: "Estimation"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/QuickEstimate"
        "422":
          $ref: "#/components/responses/Validation422"

  /employees/{employee}/receipt:
    get:
      tags: ["Estimations"]
      summary: "Telecharger le PDF d'estimation"
      parameters:
        - $ref: "#/components/parameters/EmployeeId"
        - name: from
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: to
          in: query
          required: true
          schema:
            type: string
            format: date
      responses:
        "200":
          description: "PDF"
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        "422":
          $ref: "#/components/responses/Validation422"

  /me/daily-summary:
    get:
      tags: ["Me"]
      summary: "Resume journalier utilisateur courant"
      parameters:
        - name: date
          in: query
          schema:
            type: string
            format: date
      responses:
        "200":
          description: "Resume journalier"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/DailySummary"

  /me/quick-estimate:
    get:
      tags: ["Me"]
      summary: "Estimation utilisateur courant"
      parameters:
        - name: from
          in: query
          schema:
            type: string
            format: date
        - name: to
          in: query
          schema:
            type: string
            format: date
      responses:
        "200":
          description: "Estimation"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/QuickEstimate"

  /me/monthly-summary:
    get:
      tags: ["Me"]
      summary: "Resume mensuel utilisateur courant"
      parameters:
        - name: year
          in: query
          schema:
            type: integer
        - name: month
          in: query
          schema:
            type: integer
      responses:
        "200":
          description: "Resume mensuel"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    allOf:
                      - $ref: "#/components/schemas/QuickEstimate"
                      - type: object
                        properties:
                          year:
                            type: integer
                          month:
                            type: integer

  /attendance/check-in:
    post:
      tags: ["Attendance"]
      summary: "Check-in"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GpsPayload"
      responses:
        "201":
          description: "Pointage cree"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/AttendanceLog"
        "422":
          description: "Erreur metier ou validation"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
                  - $ref: "#/components/schemas/ValidationErrorResponse"

  /attendance/check-out:
    post:
      tags: ["Attendance"]
      summary: "Check-out"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GpsPayload"
      responses:
        "200":
          description: "Pointage mis a jour"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/AttendanceLog"
        "422":
          description: "Erreur metier ou validation"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
                  - $ref: "#/components/schemas/ValidationErrorResponse"

  /attendance/today:
    get:
      tags: ["Attendance"]
      summary: "Etat du jour"
      parameters:
        - name: employee_id
          in: query
          schema:
            type: integer
        - $ref: "#/components/parameters/PerPage"
        - $ref: "#/components/parameters/Page"
      responses:
        "200":
          description: "Vue single ou collection"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttendanceTodayEnvelope"
        "422":
          $ref: "#/components/responses/Validation422"

  /attendance:
    get:
      tags: ["Attendance"]
      summary: "Historique de pointage"
      parameters:
        - name: employee_id
          in: query
          schema:
            type: integer
        - name: date_from
          in: query
          schema:
            type: string
            format: date
        - name: date_to
          in: query
          schema:
            type: string
            format: date
        - $ref: "#/components/parameters/PerPage"
        - $ref: "#/components/parameters/Page"
      responses:
        "200":
          description: "Historique"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttendanceIndexResponse"
        "422":
          $ref: "#/components/responses/Validation422"

  /invitations:
    get:
      tags: ["Invitations"]
      summary: "Lister les invitations de l'entreprise"
      responses:
        "200":
          description: "Invitations"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Invitation"
        "403":
          $ref: "#/components/responses/Error403"

  /invitations/{invitation}/resend:
    post:
      tags: ["Invitations"]
      summary: "Renvoyer une invitation"
      parameters:
        - $ref: "#/components/parameters/InvitationId"
      responses:
        "200":
          description: "Invitation renvoyee"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      email:
                        type: string
                        format: email
                      resent_at:
                        type: string
                        format: date-time
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "410":
          description: "Invitation deja acceptee"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /biometric-enrollment-requests:
    get:
      tags: ["Biometrics"]
      summary: "Lister les demandes biometrie de la company"
      responses:
        "200":
          description: "Demandes"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/BiometricEnrollmentRequest"
        "403":
          $ref: "#/components/responses/Error403"

  /biometric-enrollment-requests/{id}/approve:
    post:
      tags: ["Biometrics"]
      summary: "Approuver une demande biometrie"
      parameters:
        - $ref: "#/components/parameters/GenericIntId"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BiometricDecisionRequest"
      responses:
        "200":
          description: "Demande approuvee"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/BiometricEnrollmentRequest"
        "403":
          $ref: "#/components/responses/Error403"

  /biometric-enrollment-requests/{id}/reject:
    post:
      tags: ["Biometrics"]
      summary: "Rejeter une demande biometrie"
      parameters:
        - $ref: "#/components/parameters/GenericIntId"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BiometricDecisionRequest"
      responses:
        "200":
          description: "Demande rejetee"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/BiometricEnrollmentRequest"
        "403":
          $ref: "#/components/responses/Error403"

  /kiosks:
    post:
      tags: ["Kiosks"]
      summary: "Enregistrer un kiosk"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/KioskRegisterRequest"
      responses:
        "201":
          description: "Kiosk cree"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Kiosk"
        "403":
          $ref: "#/components/responses/Error403"

  /kiosks/{deviceCode}/roster:
    get:
      tags: ["Kiosks"]
      summary: "Roster biometrie d'un kiosk"
      security: []
      parameters:
        - $ref: "#/components/parameters/DeviceCode"
        - $ref: "#/components/parameters/KioskTokenHeader"
      responses:
        "200":
          description: "Roster"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KioskRosterResponse"
        "401":
          $ref: "#/components/responses/Error401"

  /kiosks/{deviceCode}/punch:
    post:
      tags: ["Kiosks"]
      summary: "Pointage via kiosk"
      security: []
      parameters:
        - $ref: "#/components/parameters/DeviceCode"
        - $ref: "#/components/parameters/KioskTokenHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/KioskPunchRequest"
      responses:
        "200":
          description: "Check-out via kiosk"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KioskPunchResponse"
        "201":
          description: "Check-in via kiosk"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KioskPunchResponse"
        "401":
          $ref: "#/components/responses/Error401"
        "422":
          $ref: "#/components/responses/Validation422"

  /kiosks/{deviceCode}/sync:
    post:
      tags: ["Kiosks"]
      summary: "Synchroniser des evenements offline"
      security: []
      parameters:
        - $ref: "#/components/parameters/DeviceCode"
        - $ref: "#/components/parameters/KioskTokenHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/KioskSyncRequest"
      responses:
        "200":
          description: "Sync terminee"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KioskSyncResponse"
        "401":
          $ref: "#/components/responses/Error401"
        "422":
          $ref: "#/components/responses/Validation422"

  /cameras:
    get:
      tags: ["Cameras"]
      summary: "Lister les cameras"
      responses:
        "200":
          description: "Liste des cameras"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CameraIndexResponse"
        "403":
          $ref: "#/components/responses/Error403"
    post:
      tags: ["Cameras"]
      summary: "Creer une camera"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StoreCameraRequest"
      responses:
        "201":
          description: "Camera creee"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Camera"
        "403":
          description: "Module indisponible ou limite plan"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          $ref: "#/components/responses/Validation422"

  /cameras/test-rtsp:
    post:
      tags: ["Cameras"]
      summary: "Tester une URL RTSP"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TestRtspRequest"
      responses:
        "200":
          description: "Connexion valide ou test saute"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TestRtspSuccessResponse"
        "408":
          description: "Timeout RTSP"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: "Erreur de validation ou connexion"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
                  - $ref: "#/components/schemas/ValidationErrorResponse"
        "503":
          description: "Proxy video indisponible"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /cameras/{camera}:
    get:
      tags: ["Cameras"]
      summary: "Voir une camera"
      parameters:
        - $ref: "#/components/parameters/CameraId"
      responses:
        "200":
          description: "Camera"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Camera"
        "404":
          $ref: "#/components/responses/Error404"
    put:
      tags: ["Cameras"]
      summary: "Mettre a jour une camera"
      parameters:
        - $ref: "#/components/parameters/CameraId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateCameraRequest"
      responses:
        "200":
          description: "Camera mise a jour"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Camera"
        "422":
          $ref: "#/components/responses/Validation422"
    patch:
      tags: ["Cameras"]
      summary: "Patch camera"
      parameters:
        - $ref: "#/components/parameters/CameraId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateCameraRequest"
      responses:
        "200":
          description: "Camera mise a jour"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Camera"
        "422":
          $ref: "#/components/responses/Validation422"
    delete:
      tags: ["Cameras"]
      summary: "Desactiver une camera"
      parameters:
        - $ref: "#/components/parameters/CameraId"
      responses:
        "200":
          description: "Camera desactivee"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                      is_active:
                        type: boolean
                        example: false

  /cameras/{camera}/stream-token:
    get:
      tags: ["Cameras"]
      summary: "Regenerer un stream token client"
      parameters:
        - $ref: "#/components/parameters/CameraId"
      responses:
        "200":
          description: "Payload camera avec token"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Camera"

  /cameras/{camera}/access-tokens:
    get:
      tags: ["Cameras"]
      summary: "Lister les tokens de partage"
      parameters:
        - $ref: "#/components/parameters/CameraId"
      responses:
        "200":
          description: "Tokens"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/CameraAccessToken"
    post:
      tags: ["Cameras"]
      summary: "Creer un token de partage"
      parameters:
        - $ref: "#/components/parameters/CameraId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StoreCameraAccessTokenRequest"
      responses:
        "201":
          description: "Token cree"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/CameraAccessTokenWithSecret"
        "422":
          $ref: "#/components/responses/Validation422"

  /cameras/{camera}/access-tokens/{token}:
    delete:
      tags: ["Cameras"]
      summary: "Revoquer un token de partage"
      parameters:
        - $ref: "#/components/parameters/CameraId"
        - $ref: "#/components/parameters/TokenId"
      responses:
        "200":
          description: "Token revoque"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/CameraAccessToken"

  /cameras/{camera}/permissions:
    get:
      tags: ["Cameras"]
      summary: "Lister les permissions internes"
      parameters:
        - $ref: "#/components/parameters/CameraId"
      responses:
        "200":
          description: "Permissions"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/CameraPermission"
    post:
      tags: ["Cameras"]
      summary: "Creer ou remplacer une permission interne"
      parameters:
        - $ref: "#/components/parameters/CameraId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StoreCameraPermissionRequest"
      responses:
        "201":
          description: "Permission enregistree"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/CameraPermission"
        "422":
          $ref: "#/components/responses/Validation422"

  /cameras/{camera}/permissions/{permission}:
    delete:
      tags: ["Cameras"]
      summary: "Supprimer une permission interne"
      parameters:
        - $ref: "#/components/parameters/CameraId"
        - $ref: "#/components/parameters/PermissionId"
      responses:
        "200":
          description: "Permission supprimee"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                      deleted:
                        type: boolean
                        example: true

  /cameras/{camera}/access-logs:
    get:
      tags: ["Cameras"]
      summary: "Lister les logs d'acces camera"
      parameters:
        - $ref: "#/components/parameters/CameraId"
        - $ref: "#/components/parameters/PerPage"
      responses:
        "200":
          description: "Logs sur 30 jours glissants"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CameraAccessLogIndexResponse"

  /internal/camera-token/verify:
    get:
      tags: ["Cameras"]
      summary: "Verification interne MediaMTX"
      security: []
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
        - name: camera_id
          in: query
          required: true
          schema:
            type: integer
        - name: client_ip
          in: query
          schema:
            type: string
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
            example: "Bearer mediamtx-secret"
      responses:
        "200":
          description: "Decision de verification"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalCameraVerifyResponse"
        "401":
          description: "Appelant interne non autorise"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalCameraVerifyResponse"

  /view/cam:
    get:
      tags: ["Cameras"]
      summary: "Viewer public par token"
      security: []
      parameters:
        - name: t
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Payload public de lecture"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/PublicCameraView"
        "404":
          $ref: "#/components/responses/Error404"

  /projects:
    get:
      tags: ["Projects"]
      summary: "Lister les projets"
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: ["active", "completed", "archived"]
        - $ref: "#/components/parameters/PerPage"
      responses:
        "200":
          description: "Liste paginee des projets"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectIndexResponse"
        "401":
          $ref: "#/components/responses/Error401"
        "422":
          $ref: "#/components/responses/Validation422"
    post:
      tags: ["Projects"]
      summary: "Creer un projet"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StoreProjectRequest"
      responses:
        "201":
          description: "Projet cree"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Project"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "422":
          $ref: "#/components/responses/Validation422"

  /projects/{project}:
    get:
      tags: ["Projects"]
      summary: "Voir un projet"
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200":
          description: "Detail du projet"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Project"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
    put:
      tags: ["Projects"]
      summary: "Mettre a jour un projet"
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateProjectRequest"
      responses:
        "200":
          description: "Projet mis a jour"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Project"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          $ref: "#/components/responses/Validation422"
    patch:
      tags: ["Projects"]
      summary: "Mettre a jour partiellement un projet"
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateProjectRequest"
      responses:
        "200":
          description: "Projet mis a jour"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Project"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          $ref: "#/components/responses/Validation422"
    delete:
      tags: ["Projects"]
      summary: "Supprimer un projet"
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200":
          description: "Projet supprime"
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Project deleted successfully"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"

  /tasks:
    get:
      tags: ["Tasks"]
      summary: "Lister les taches"
      parameters:
        - name: project_id
          in: query
          schema:
            type: integer
            minimum: 1
        - name: status
          in: query
          schema:
            type: string
            enum: ["todo", "inprogress", "review", "done", "rejected", "cancelled"]
        - name: priority
          in: query
          schema:
            type: string
            enum: ["low", "normal", "high", "urgent"]
        - name: assigned_to
          in: query
          schema:
            type: integer
            minimum: 1
        - $ref: "#/components/parameters/PerPage"
      responses:
        "200":
          description: "Liste paginee des taches"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TaskIndexResponse"
        "401":
          $ref: "#/components/responses/Error401"
        "422":
          $ref: "#/components/responses/Validation422"
    post:
      tags: ["Tasks"]
      summary: "Creer une tache"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StoreTaskRequest"
      responses:
        "201":
          description: "Tache creee"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Task"
        "401":
          $ref: "#/components/responses/Error401"
        "422":
          $ref: "#/components/responses/Validation422"

  /tasks/{task}:
    get:
      tags: ["Tasks"]
      summary: "Voir une tache"
      parameters:
        - $ref: "#/components/parameters/TaskId"
      responses:
        "200":
          description: "Detail de la tache"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Task"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
    put:
      tags: ["Tasks"]
      summary: "Mettre a jour une tache"
      parameters:
        - $ref: "#/components/parameters/TaskId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateTaskRequest"
      responses:
        "200":
          description: "Tache mise a jour"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Task"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          $ref: "#/components/responses/Validation422"
    patch:
      tags: ["Tasks"]
      summary: "Mettre a jour partiellement une tache"
      parameters:
        - $ref: "#/components/parameters/TaskId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateTaskRequest"
      responses:
        "200":
          description: "Tache mise a jour"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Task"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          $ref: "#/components/responses/Validation422"
    delete:
      tags: ["Tasks"]
      summary: "Supprimer une tache"
      parameters:
        - $ref: "#/components/parameters/TaskId"
      responses:
        "200":
          description: "Tache supprimee"
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Task deleted successfully"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"

  /tasks/{task}/comments:
    post:
      tags: ["Tasks"]
      summary: "Ajouter un commentaire sur une tache"
      parameters:
        - $ref: "#/components/parameters/TaskId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StoreTaskCommentRequest"
      responses:
        "201":
          description: "Commentaire cree"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/TaskComment"
        "401":
          $ref: "#/components/responses/Error401"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          $ref: "#/components/responses/Validation422"

  /evaluations:
    get:
      tags: ["Evaluations"]
      summary: "Lister les evaluations"
      parameters:
        - name: employee_id
          in: query
          schema:
            type: integer
            minimum: 1
        - name: evaluator_id
          in: query
          schema:
            type: integer
            minimum: 1
        - name: period
          in: query
          schema:
            type: string
            maxLength: 20
        - name: status
          in: query
          schema:
            type: string
            enum: ["draft", "submitted", "acknowledged"]
        - $ref: "#/components/parameters/PerPage"
      responses:
        "200":
          description: "Liste paginee des evaluations"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvaluationIndexResponse"
        "401":
          $ref: "#/components/responses/Error401"
        "422":
          $ref: "#/components/responses/Validation422"
    post:
      tags: ["Evaluations"]
      summary: "Creer une evaluation"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StoreEvaluationRequest"
      responses:
        "201":
          description: "Evaluation creee"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Evaluation"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "422":
          description: "Validation ou conflit metier"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
                  - $ref: "#/components/schemas/ValidationErrorResponse"

  /evaluations/{evaluation}:
    get:
      tags: ["Evaluations"]
      summary: "Voir une evaluation"
      parameters:
        - $ref: "#/components/parameters/EvaluationId"
      responses:
        "200":
          description: "Detail de l'evaluation"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Evaluation"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
    put:
      tags: ["Evaluations"]
      summary: "Mettre a jour une evaluation"
      parameters:
        - $ref: "#/components/parameters/EvaluationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateEvaluationRequest"
      responses:
        "200":
          description: "Evaluation mise a jour"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Evaluation"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          description: "Validation ou regle metier"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
                  - $ref: "#/components/schemas/ValidationErrorResponse"
    patch:
      tags: ["Evaluations"]
      summary: "Mettre a jour partiellement une evaluation"
      parameters:
        - $ref: "#/components/parameters/EvaluationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateEvaluationRequest"
      responses:
        "200":
          description: "Evaluation mise a jour"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Evaluation"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          description: "Validation ou regle metier"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
                  - $ref: "#/components/schemas/ValidationErrorResponse"
    delete:
      tags: ["Evaluations"]
      summary: "Supprimer une evaluation"
      parameters:
        - $ref: "#/components/parameters/EvaluationId"
      responses:
        "200":
          description: "Evaluation supprimee"
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Evaluation deleted successfully"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          description: "Seule une evaluation draft est supprimable"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /evaluations/{evaluation}/submit:
    put:
      tags: ["Evaluations"]
      summary: "Soumettre une evaluation"
      parameters:
        - $ref: "#/components/parameters/EvaluationId"
      responses:
        "200":
          description: "Evaluation soumise"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Evaluation"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          description: "Seule une evaluation draft peut etre soumise"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /evaluations/{evaluation}/acknowledge:
    put:
      tags: ["Evaluations"]
      summary: "Accuser reception d'une evaluation"
      parameters:
        - $ref: "#/components/parameters/EvaluationId"
      responses:
        "200":
          description: "Evaluation accusee de reception"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Evaluation"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          description: "Seule une evaluation submitted peut etre accusee de reception"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /notifications:
    get:
      tags: ["Notifications"]
      summary: "Lister les notifications de l'utilisateur courant"
      parameters:
        - name: unread_only
          in: query
          schema:
            type: boolean
        - $ref: "#/components/parameters/PerPage"
      responses:
        "200":
          description: "Liste paginee des notifications"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotificationIndexResponse"
        "401":
          $ref: "#/components/responses/Error401"
        "422":
          $ref: "#/components/responses/Validation422"

  /notifications/read-all:
    put:
      tags: ["Notifications"]
      summary: "Marquer toutes les notifications comme lues"
      responses:
        "200":
          description: "Notifications marquees comme lues"
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "All notifications marked as read"
        "401":
          $ref: "#/components/responses/Error401"

  /notifications/{notification}/read:
    put:
      tags: ["Notifications"]
      summary: "Marquer une notification comme lue"
      parameters:
        - $ref: "#/components/parameters/NotificationId"
      responses:
        "200":
          description: "Notification mise a jour"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Notification"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"

  /notifications/{notification}:
    delete:
      tags: ["Notifications"]
      summary: "Supprimer une notification"
      parameters:
        - $ref: "#/components/parameters/NotificationId"
      responses:
        "200":
          description: "Notification supprimee"
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Notification deleted successfully"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Sanctum
    SuperAdminBearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Sanctum

  parameters:
    ProjectId:
      name: project
      in: path
      required: true
      schema:
        type: integer
    NotificationId:
      name: notification
      in: path
      required: true
      schema:
        type: integer
    TaskId:
      name: task
      in: path
      required: true
      schema:
        type: integer
    EvaluationId:
      name: evaluation
      in: path
      required: true
      schema:
        type: integer
    EmployeeId:
      name: employee
      in: path
      required: true
      schema:
        type: integer
    CameraId:
      name: camera
      in: path
      required: true
      schema:
        type: integer
    TokenId:
      name: token
      in: path
      required: true
      schema:
        type: integer
    PermissionId:
      name: permission
      in: path
      required: true
      schema:
        type: integer
    InvitationId:
      name: invitation
      in: path
      required: true
      schema:
        type: string
        format: uuid
    GenericIntId:
      name: id
      in: path
      required: true
      schema:
        type: integer
    DeviceCode:
      name: deviceCode
      in: path
      required: true
      schema:
        type: string
    PerPage:
      name: per_page
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
    Page:
      name: page
      in: query
      schema:
        type: integer
        minimum: 1
    KioskTokenHeader:
      name: X-Kiosk-Token
      in: header
      required: true
      schema:
        type: string

  responses:
    Error401:
      description: "Non authentifie"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Error403:
      description: "Action interdite"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Error404:
      description: "Ressource introuvable"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Validation422:
      description: "Erreur de validation"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ValidationErrorResponse"

  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          example: "RESOURCE_NOT_FOUND"
        message:
          type: string
          example: "RESOURCE_NOT_FOUND"

    ValidationErrorResponse:
      type: object
      properties:
        error:
          type: string
          example: "VALIDATION_ERROR"
        message:
          type: string
          example: "VALIDATION_ERROR"
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string

    HealthCheck:
      type: object
      properties:
        ok:
          type: boolean
        latency_ms:
          type: integer
          nullable: true
        status:
          type: string
          nullable: true
        error:
          type: string
          nullable: true

    HealthResponse:
      type: object
      properties:
        status:
          type: string
          example: "ok"
        version:
          type: string
          nullable: true
        checks:
          type: object
          properties:
            database:
              $ref: "#/components/schemas/HealthCheck"
            redis:
              $ref: "#/components/schemas/HealthCheck"
            storage:
              $ref: "#/components/schemas/HealthCheck"
        timestamp:
          type: string
          format: date-time

    LoginRequest:
      type: object
      required: ["email", "password"]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
        device_name:
          type: string
          maxLength: 100

    PlatformLoginRequest:
      type: object
      required: ["email", "password"]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
        device_name:
          type: string

    CompanyMini:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        language:
          type: string
          nullable: true
        timezone:
          type: string
          nullable: true
        currency:
          type: string
          nullable: true

    CurrentEmployee:
      type: object
      properties:
        id:
          type: integer
        matricule:
          type: string
          nullable: true
        company_id:
          type: string
          format: uuid
        first_name:
          type: string
        middle_name:
          type: string
          nullable: true
        last_name:
          type: string
        preferred_name:
          type: string
          nullable: true
        email:
          type: string
          format: email
        personal_email:
          type: string
          format: email
          nullable: true
        phone:
          type: string
          nullable: true
        role:
          type: string
          enum: ["employee", "manager"]
        manager_role:
          type: string
          nullable: true
        status:
          type: string
        photo_path:
          type: string
          nullable: true
        biometric_face_enabled:
          type: boolean
        biometric_fingerprint_enabled:
          type: boolean
        address_line:
          type: string
          nullable: true
        postal_code:
          type: string
          nullable: true
        emergency_contact_name:
          type: string
          nullable: true
        emergency_contact_phone:
          type: string
          nullable: true
        extra_data:
          type: object
          additionalProperties: true
        capabilities:
          type: object
          additionalProperties:
            type: boolean
        features:
          type: object
          additionalProperties:
            type: boolean
        suggested_home_route:
          type: string
        company:
          $ref: "#/components/schemas/CompanyMini"

    LoginResponse:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/CurrentEmployee"
        token:
          type: string
        token_type:
          type: string
          example: "Bearer"
        token_expires_at:
          type: string
          format: date-time
          nullable: true

    UpdateProfileRequest:
      type: object
      properties:
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
          format: email

    ChangePasswordRequest:
      type: object
      required: ["current_password", "new_password", "new_password_confirmation"]
      properties:
        current_password:
          type: string
        new_password:
          type: string
          minLength: 8
        new_password_confirmation:
          type: string

    SuperAdminUser:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        email:
          type: string
          format: email

    PlatformLoginResponse:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/SuperAdminUser"
        token:
          type: string
        token_type:
          type: string
          example: "Bearer"

    PlatformCompany:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        slug:
          type: string
          nullable: true
        sector:
          type: string
          nullable: true
        country:
          type: string
        city:
          type: string
        address:
          type: string
          nullable: true
        email:
          type: string
          format: email
        phone:
          type: string
          nullable: true
        plan_id:
          type: integer
        schema_name:
          type: string
          nullable: true
        tenancy_type:
          type: string
        status:
          type: string
        language:
          type: string
          nullable: true
        timezone:
          type: string
          nullable: true
        currency:
          type: string
          nullable: true
        features:
          type: object
          additionalProperties: true
        metadata:
          type: object
          additionalProperties: true
        created_at:
          type: string
          format: date-time
          nullable: true
        updated_at:
          type: string
          format: date-time
          nullable: true

    PlatformCompanyCreateRequest:
      type: object
      required:
        - name
        - sector
        - country
        - city
        - email
        - plan_id
        - manager_first_name
        - manager_last_name
        - manager_email
      properties:
        name:
          type: string
        slug:
          type: string
        sector:
          type: string
        country:
          type: string
          minLength: 2
          maxLength: 2
        city:
          type: string
        address:
          type: string
        email:
          type: string
          format: email
        phone:
          type: string
        plan_id:
          type: integer
        language:
          type: string
        timezone:
          type: string
        currency:
          type: string
        notes:
          type: string
        manager_first_name:
          type: string
        manager_last_name:
          type: string
        manager_email:
          type: string
          format: email
        manager_phone:
          type: string

    PlatformCompanyCreateResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            company:
              $ref: "#/components/schemas/PlatformCompany"
            manager:
              type: object
              properties:
                id:
                  type: integer
                email:
                  type: string
                  format: email
                role:
                  type: string
                manager_role:
                  type: string
                  nullable: true

    EmployeeIndexItem:
      type: object
      properties:
        id:
          type: integer
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
          format: email
        role:
          type: string
        status:
          type: string

    EmployeeDetail:
      type: object
      properties:
        id:
          type: integer
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
          format: email
        role:
          type: string
        manager_role:
          type: string
          nullable: true
        status:
          type: string
        phone:
          type: string
          nullable: true
        personal_email:
          type: string
          format: email
          nullable: true
        address_line:
          type: string
          nullable: true
        postal_code:
          type: string
          nullable: true
        emergency_contact_name:
          type: string
          nullable: true
        emergency_contact_phone:
          type: string
          nullable: true
        biometric_face_enabled:
          type: boolean
        biometric_fingerprint_enabled:
          type: boolean
        extra_data:
          type: object
          additionalProperties: true

    EmployeeIndexResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/EmployeeIndexItem"
        meta:
          $ref: "#/components/schemas/PaginationMeta"

    Project:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        description:
          type: string
          nullable: true
        start_date:
          type: string
          format: date
          nullable: true
        end_date:
          type: string
          format: date
          nullable: true
        members:
          type: array
          nullable: true
          items:
            type: integer
        status:
          type: string
          enum: ["active", "completed", "archived"]
        created_by:
          type: integer
        created_at:
          type: string
          format: date-time
          nullable: true

    ProjectIndexResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Project"
        meta:
          $ref: "#/components/schemas/PaginationMeta"

    StoreProjectRequest:
      type: object
      required: ["name"]
      properties:
        name:
          type: string
          maxLength: 150
        description:
          type: string
          nullable: true
        start_date:
          type: string
          format: date
          nullable: true
        end_date:
          type: string
          format: date
          nullable: true
        members:
          type: array
          nullable: true
          items:
            type: integer
            minimum: 1
        status:
          type: string
          nullable: true
          enum: ["active", "completed", "archived"]

    UpdateProjectRequest:
      type: object
      properties:
        name:
          type: string
          maxLength: 150
        description:
          type: string
          nullable: true
        start_date:
          type: string
          format: date
          nullable: true
        end_date:
          type: string
          format: date
          nullable: true
        members:
          type: array
          nullable: true
          items:
            type: integer
            minimum: 1
        status:
          type: string
          nullable: true
          enum: ["active", "completed", "archived"]

    TaskCommentAuthorMini:
      type: object
      properties:
        id:
          type: integer
        first_name:
          type: string
          nullable: true
        last_name:
          type: string
          nullable: true

    TaskComment:
      type: object
      properties:
        id:
          type: integer
        task_id:
          type: integer
        author_id:
          type: integer
        author:
          allOf:
            - $ref: "#/components/schemas/TaskCommentAuthorMini"
          nullable: true
        content:
          type: string
        created_at:
          type: string
          format: date-time
          nullable: true

    Task:
      type: object
      properties:
        id:
          type: integer
        title:
          type: string
        description:
          type: string
          nullable: true
        created_by:
          type: integer
        assigned_to:
          type: array
          nullable: true
          items:
            type: integer
        project_id:
          type: integer
          nullable: true
        due_date:
          type: string
          format: date-time
          nullable: true
        priority:
          type: string
          enum: ["low", "normal", "high", "urgent"]
        status:
          type: string
          enum: ["todo", "inprogress", "review", "done", "rejected", "cancelled"]
        category:
          type: string
          nullable: true
        visibility:
          type: string
          enum: ["private", "visible"]
        checklist:
          type: array
          nullable: true
          items: {}
        comments:
          type: array
          nullable: true
          items:
            $ref: "#/components/schemas/TaskComment"
        created_at:
          type: string
          format: date-time
          nullable: true
        updated_at:
          type: string
          format: date-time
          nullable: true

    TaskIndexResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Task"
        meta:
          $ref: "#/components/schemas/PaginationMeta"

    StoreTaskRequest:
      type: object
      required: ["title", "due_date"]
      properties:
        title:
          type: string
          maxLength: 200
        description:
          type: string
          nullable: true
        assigned_to:
          type: array
          nullable: true
          items:
            type: integer
            minimum: 1
        project_id:
          type: integer
          nullable: true
          minimum: 1
        due_date:
          type: string
          format: date
        priority:
          type: string
          nullable: true
          enum: ["low", "normal", "high", "urgent"]
        category:
          type: string
          nullable: true
          maxLength: 100
        visibility:
          type: string
          nullable: true
          enum: ["private", "visible"]
        checklist:
          type: array
          nullable: true
          items: {}

    UpdateTaskRequest:
      type: object
      properties:
        title:
          type: string
          maxLength: 200
        description:
          type: string
          nullable: true
        assigned_to:
          type: array
          items:
            type: integer
            minimum: 1
        project_id:
          type: integer
          nullable: true
          minimum: 1
        due_date:
          type: string
          format: date
        priority:
          type: string
          enum: ["low", "normal", "high", "urgent"]
        status:
          type: string
          enum: ["todo", "inprogress", "review", "done", "rejected", "cancelled"]
        category:
          type: string
          nullable: true
          maxLength: 100
        visibility:
          type: string
          enum: ["private", "visible"]
        checklist:
          type: array
          nullable: true
          items: {}

    StoreTaskCommentRequest:
      type: object
      required: ["content"]
      properties:
        content:
          type: string
          maxLength: 5000

    EvaluationEmployeeMini:
      type: object
      properties:
        id:
          type: integer
        first_name:
          type: string
          nullable: true
        last_name:
          type: string
          nullable: true
        email:
          type: string
          format: email
          nullable: true

    EvaluationEvaluatorMini:
      type: object
      properties:
        id:
          type: integer
        first_name:
          type: string
          nullable: true
        last_name:
          type: string
          nullable: true

    EvaluationCriterion:
      type: object
      required: ["label", "score"]
      properties:
        label:
          type: string
        score:
          type: number
          format: float

    Evaluation:
      type: object
      properties:
        id:
          type: integer
        employee_id:
          type: integer
        employee:
          allOf:
            - $ref: "#/components/schemas/EvaluationEmployeeMini"
          nullable: true
        evaluator_id:
          type: integer
        evaluator:
          allOf:
            - $ref: "#/components/schemas/EvaluationEvaluatorMini"
          nullable: true
        period:
          type: string
        score:
          type: number
          format: float
          nullable: true
        criteria:
          type: array
          nullable: true
          items:
            $ref: "#/components/schemas/EvaluationCriterion"
        strengths:
          type: string
          nullable: true
        improvements:
          type: string
          nullable: true
        overall_comment:
          type: string
          nullable: true
        status:
          type: string
          enum: ["draft", "submitted", "acknowledged"]
        acknowledged_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time
          nullable: true
        updated_at:
          type: string
          format: date-time
          nullable: true

    EvaluationIndexResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Evaluation"
        meta:
          $ref: "#/components/schemas/PaginationMeta"

    StoreEvaluationRequest:
      type: object
      required: ["employee_id", "period"]
      properties:
        employee_id:
          type: integer
          minimum: 1
        period:
          type: string
          maxLength: 20
        score:
          type: number
          format: float
          nullable: true
          minimum: 0
          maximum: 5
        criteria:
          type: array
          nullable: true
          items:
            $ref: "#/components/schemas/EvaluationCriterion"
        strengths:
          type: string
          nullable: true
          maxLength: 2000
        improvements:
          type: string
          nullable: true
          maxLength: 2000
        overall_comment:
          type: string
          nullable: true
          maxLength: 2000

    UpdateEvaluationRequest:
      type: object
      properties:
        score:
          type: number
          format: float
          nullable: true
          minimum: 0
          maximum: 5
        criteria:
          type: array
          nullable: true
          items:
            $ref: "#/components/schemas/EvaluationCriterion"
        strengths:
          type: string
          nullable: true
          maxLength: 2000
        improvements:
          type: string
          nullable: true
          maxLength: 2000
        overall_comment:
          type: string
          nullable: true
          maxLength: 2000

    Notification:
      type: object
      properties:
        id:
          type: integer
        type:
          type: string
        title:
          type: string
        body:
          type: string
          nullable: true
        data:
          type: object
          nullable: true
          additionalProperties: true
        is_read:
          type: boolean
        read_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time
          nullable: true

    NotificationIndexResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Notification"
        meta:
          type: object
          properties:
            current_page:
              type: integer
            last_page:
              type: integer
            per_page:
              type: integer
            total:
              type: integer
            unread_count:
              type: integer

    PaginationMeta:
      type: object
      properties:
        current_page:
          type: integer
        last_page:
          type: integer
        per_page:
          type: integer
        total:
          type: integer

    StoreEmployeeRequest:
      type: object
      required: ["first_name", "last_name", "email"]
      properties:
        matricule:
          type: string
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 8
        contract_start:
          type: string
          format: date
        role:
          type: string
          enum: ["employee", "manager"]
        manager_role:
          type: string
          enum: ["principal", "rh", "dept", "comptable", "superviseur"]
        phone:
          type: string
        personal_email:
          type: string
          format: email
        middle_name:
          type: string
        preferred_name:
          type: string
        date_of_birth:
          type: string
          format: date
        place_of_birth:
          type: string
        gender:
          type: string
          enum: ["M", "F"]
        nationality:
          type: string
        marital_status:
          type: string
        address_line:
          type: string
        postal_code:
          type: string
        emergency_contact_name:
          type: string
        emergency_contact_phone:
          type: string
        emergency_contact_relation:
          type: string
        biometric_face_enabled:
          type: boolean
        biometric_fingerprint_enabled:
          type: boolean
        biometric_face_reference_path:
          type: string
        biometric_fingerprint_reference_path:
          type: string
        photo_path:
          type: string
        zkteco_id:
          type: string
        extra_data:
          type: object
          additionalProperties: true
        send_invitation:
          type: boolean

    UpdateEmployeeRequestFull:
      type: object
      properties:
        matricule:
          type: string
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
          format: email
        password:
          type: string
        role:
          type: string
          enum: ["employee", "manager"]
        manager_role:
          type: string
          enum: ["principal", "rh", "dept", "comptable", "superviseur"]
        status:
          type: string
          enum: ["active", "suspended"]
        phone:
          type: string
        personal_email:
          type: string
          format: email
        middle_name:
          type: string
        preferred_name:
          type: string
        date_of_birth:
          type: string
          format: date
        place_of_birth:
          type: string
        gender:
          type: string
          enum: ["M", "F"]
        nationality:
          type: string
        marital_status:
          type: string
        address_line:
          type: string
        postal_code:
          type: string
        emergency_contact_name:
          type: string
        emergency_contact_phone:
          type: string
        emergency_contact_relation:
          type: string
        biometric_face_enabled:
          type: boolean
        biometric_fingerprint_enabled:
          type: boolean
        biometric_face_reference_path:
          type: string
        biometric_fingerprint_reference_path:
          type: string
        photo_path:
          type: string
        zkteco_id:
          type: string
        extra_data:
          type: object
          additionalProperties: true

    DailySummary:
      type: object
      properties:
        employee_id:
          type: integer
        name:
          type: string
        date:
          type: string
          format: date
        check_in:
          type: string
          nullable: true
        check_out:
          type: string
          nullable: true
        hours_worked:
          type: number
        overtime_hours:
          type: number
        base_gain:
          type: number
        overtime_gain:
          type: number
        total_estimated:
          type: number
        currency:
          type: string
        status:
          type: string

    QuickEstimate:
      type: object
      properties:
        employee_id:
          type: integer
        name:
          type: string
        period:
          type: object
          properties:
            from:
              type: string
              format: date
            to:
              type: string
              format: date
            working_days:
              type: integer
            days_present:
              type: integer
            days_absent:
              type: integer
        totals:
          type: object
          properties:
            hours:
              type: number
            overtime_hours:
              type: number
            gross:
              type: number
            deductions:
              type: number
            net:
              type: number
        currency:
          type: string
        breakdown:
          type: array
          items:
            type: object
            properties:
              date:
                type: string
                format: date
              hours:
                type: number
              overtime_hours:
                type: number
              base_gain:
                type: number
              overtime_gain:
                type: number
              total:
                type: number
        disclaimer:
          type: string

    GpsPayload:
      type: object
      properties:
        gps_lat:
          type: number
        gps_lng:
          type: number

    AttendanceLog:
      type: object
      properties:
        id:
          type: integer
        employee_id:
          type: integer
        date:
          type: string
          format: date
        check_in:
          type: string
          format: date-time
          nullable: true
        check_out:
          type: string
          format: date-time
          nullable: true
        method:
          type: string
        source_device_code:
          type: string
          nullable: true
        hours_worked:
          type: number
          nullable: true
        overtime_hours:
          type: number
          nullable: true
        status:
          type: string
        late_minutes:
          type: integer
          nullable: true

    AttendanceTodayItem:
      type: object
      properties:
        employee_id:
          type: integer
        name:
          type: string
        checked_in:
          type: boolean
        check_in_time:
          type: string
          nullable: true
        check_out_time:
          type: string
          nullable: true
        hours_worked:
          oneOf:
            - type: string
            - type: number
        status:
          type: string

    AttendanceTodayEnvelope:
      type: object
      properties:
        data:
          oneOf:
            - type: object
              properties:
                mode:
                  type: string
                  example: "single"
                item:
                  $ref: "#/components/schemas/AttendanceTodayItem"
            - type: object
              properties:
                mode:
                  type: string
                  example: "collection"
                items:
                  type: array
                  items:
                    $ref: "#/components/schemas/AttendanceTodayItem"
                meta:
                  $ref: "#/components/schemas/PaginationMeta"

    AttendanceIndexResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/AttendanceLog"
        meta:
          $ref: "#/components/schemas/PaginationMeta"

    Invitation:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        role:
          type: string
        manager_role:
          type: string
          nullable: true
        employee_id:
          type: integer
        expires_at:
          type: string
          format: date-time
          nullable: true
        accepted_at:
          type: string
          format: date-time
          nullable: true
        last_sent_at:
          type: string
          format: date-time
          nullable: true
        status:
          type: string
          enum: ["pending", "accepted", "expired"]

    BiometricEnrollmentRequest:
      type: object
      properties:
        id:
          type: integer
        employee_id:
          type: integer
        status:
          type: string
          enum: ["pending", "approved", "rejected"]
        requested_face_enabled:
          type: boolean
        requested_fingerprint_enabled:
          type: boolean
        requested_face_reference_path:
          type: string
          nullable: true
        requested_fingerprint_reference_path:
          type: string
          nullable: true
        requested_fingerprint_device_id:
          type: string
          nullable: true
        employee_note:
          type: string
          nullable: true
        manager_note:
          type: string
          nullable: true
        submitted_at:
          type: string
          format: date-time
          nullable: true
        approved_at:
          type: string
          format: date-time
          nullable: true
        rejected_at:
          type: string
          format: date-time
          nullable: true

    BiometricEnrollmentSubmitRequest:
      type: object
      properties:
        requested_face_enabled:
          type: boolean
        requested_fingerprint_enabled:
          type: boolean
        requested_fingerprint_reference_path:
          type: string
        requested_fingerprint_device_id:
          type: string
        employee_note:
          type: string
        face_image:
          type: string
          format: binary

    BiometricDecisionRequest:
      type: object
      properties:
        manager_note:
          type: string

    KioskRegisterRequest:
      type: object
      required: ["name"]
      properties:
        name:
          type: string
        location_label:
          type: string
        biometric_mode:
          type: string
          enum: ["fingerprint", "face", "mixed"]
        trusted_device_label:
          type: string

    Kiosk:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        location_label:
          type: string
          nullable: true
        device_code:
          type: string
        status:
          type: string
        biometric_mode:
          type: string
        trusted_device_label:
          type: string
          nullable: true
        sync_token:
          type: string

    KioskRosterEmployee:
      type: object
      properties:
        employee_id:
          type: integer
        name:
          type: string
        email:
          type: string
          format: email
        matricule:
          type: string
          nullable: true
        zkteco_id:
          type: string
          nullable: true
        face_enabled:
          type: boolean
        fingerprint_enabled:
          type: boolean

    KioskRosterResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            device_code:
              type: string
            company_id:
              type: string
              format: uuid
            company_name:
              type: string
            employees:
              type: array
              items:
                $ref: "#/components/schemas/KioskRosterEmployee"

    KioskPunchRequest:
      type: object
      required: ["identifier"]
      properties:
        identifier:
          type: string
        action:
          type: string
          enum: ["check_in", "check_out"]

    KioskPunchResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            employee_id:
              type: integer
            date:
              type: string
              format: date
            check_in:
              type: string
              format: date-time
              nullable: true
            check_out:
              type: string
              format: date-time
              nullable: true
            method:
              type: string
            status:
              type: string

    KioskSyncEvent:
      type: object
      required: ["identifier"]
      properties:
        identifier:
          type: string
        action:
          type: string
          enum: ["check_in", "check_out"]
        occurred_at:
          type: string
          format: date-time
        external_event_id:
          type: string
        biometric_type:
          type: string
          enum: ["fingerprint", "face", "mixed"]

    KioskSyncRequest:
      type: object
      required: ["events"]
      properties:
        events:
          type: array
          items:
            $ref: "#/components/schemas/KioskSyncEvent"

    KioskSyncResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            processed_count:
              type: integer
            processed_log_ids:
              type: array
              items:
                type: integer
            last_sync_at:
              type: string
              format: date-time
              nullable: true

    StoreCameraRequest:
      type: object
      required: ["name", "rtsp_url"]
      properties:
        name:
          type: string
        rtsp_url:
          type: string
          example: "rtsp://camera.local/live"
        location:
          type: string
        sort_order:
          type: integer
        stream_path_override:
          type: string
        metadata:
          type: object
          additionalProperties: true

    UpdateCameraRequest:
      type: object
      properties:
        name:
          type: string
        rtsp_url:
          type: string
        location:
          type: string
        is_active:
          type: boolean
        sort_order:
          type: integer
        stream_path_override:
          type: string
        metadata:
          type: object
          additionalProperties: true

    Camera:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        location:
          type: string
          nullable: true
        is_active:
          type: boolean
        sort_order:
          type: integer
        thumbnail_url:
          type: string
          nullable: true
        stream_url:
          type: string
        stream_token:
          type: string
        token_expires_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
          nullable: true

    CameraIndexResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Camera"
        plan_limit:
          type: object
          properties:
            max_cameras:
              type: integer
              nullable: true
            current_count:
              type: integer

    TestRtspRequest:
      type: object
      required: ["rtsp_url"]
      properties:
        rtsp_url:
          type: string

    TestRtspSuccessResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            ok:
              type: boolean
            duration_ms:
              type: integer
              nullable: true
            skipped:
              type: boolean
              nullable: true

    StoreCameraAccessTokenRequest:
      type: object
      required: ["expires_in_minutes"]
      properties:
        label:
          type: string
        granted_to_email:
          type: string
          format: email
        granted_to_name:
          type: string
        expires_in_minutes:
          type: integer
        permissions:
          type: object
          properties:
            view:
              type: boolean
            ptz:
              type: boolean
            audio:
              type: boolean
        ip_whitelist:
          type: array
          items:
            type: string

    CameraAccessToken:
      type: object
      properties:
        id:
          type: integer
        camera_id:
          type: integer
        label:
          type: string
          nullable: true
        granted_to_email:
          type: string
          format: email
          nullable: true
        granted_to_name:
          type: string
          nullable: true
        granted_by:
          type: integer
        permissions:
          type: object
          additionalProperties: true
        expires_at:
          type: string
          format: date-time
          nullable: true
        last_used_at:
          type: string
          format: date-time
          nullable: true
        use_count:
          type: integer
        is_revoked:
          type: boolean
        created_at:
          type: string
          format: date-time
          nullable: true

    CameraAccessTokenWithSecret:
      allOf:
        - $ref: "#/components/schemas/CameraAccessToken"
        - type: object
          properties:
            token:
              type: string
            share_url:
              type: string
              nullable: true

    StoreCameraPermissionRequest:
      type: object
      required: ["employee_id"]
      properties:
        employee_id:
          type: integer
        can_view:
          type: boolean
        can_share:
          type: boolean
        can_manage:
          type: boolean
        expires_at:
          type: string
          format: date-time

    CameraPermission:
      type: object
      properties:
        id:
          type: integer
        camera_id:
          type: integer
        employee_id:
          type: integer
        can_view:
          type: boolean
        can_share:
          type: boolean
        can_manage:
          type: boolean
        granted_by:
          type: integer
        granted_at:
          type: string
          format: date-time
          nullable: true
        expires_at:
          type: string
          format: date-time
          nullable: true

    CameraAccessLog:
      type: object
      properties:
        id:
          type: integer
[...]
