includes:
    - phpstan-baseline.neon
    - vendor/larastan/larastan/extension.neon

parameters:
    level: max
    paths:
        - app
        - routes
        - tests
    tmpDir: storage/phpstan
    excludePaths:
        - bootstrap/cache
        - storage
    reportUnmatchedIgnoredErrors: true
