includes:
    - phpstan-baseline.neon

parameters:
    level: max
    paths:
        - app
        - routes
        - tests
    tmpDir: storage/phpstan
    excludePaths:
        - bootstrap/cache
        - storage
    reportUnmatchedIgnoredErrors: true
